<div class="twitter-block flexslider">
  <span class="glyph fa-twitter"></span>
  <ul class="slides">
    <li>
      <div class="name">@sabrinadpeters</div>
      <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
      <strong>ABOUT 2 HOURS AGO</strong>
    </li>
    <li>
      <div class="name">@sabrinadpeters</div>
      <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
      <strong>ABOUT 2 HOURS AGO</strong>
    </li>
    <li>
      <div class="name">@sabrinadpeters</div>
      <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
      <strong>ABOUT 2 HOURS AGO</strong>
    </li>
  </ul>
</div>
