<!--  RIGHT CONTENT  -->
<div class="right-content">
  <!--  HOME PAGE  -->
  <!--  SLIDER  -->
  <div class="flexslider home-page animate">
    <ul class="slides">
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img4.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title left">
                            <span>
                                Welcome <strong>to</strong>
                            </span>
            <span>
                                <strong>foto</strong>hunter
                            </span>
            <p>Only the best pictures of animals and travel.</p>
          </div>
          <a class="button-down glyph fa-angle-down" href=""></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img1.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title top">
                            <span>
                                <strong>we</strong> love
                            </span>
            <span>
                                foto<strong>hunter</strong>
                            </span>
            <p>Only the best pictures of animals and travel.</p>
          </div>
          <a class="button-down glyph fa-angle-down" href=""></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img3.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title zoom">
                            <span>
                                you <strong>modern</strong>
                            </span>
            <span>
                                <strong>foto</strong> TEMPLATE
                            </span>
            <p>Only the best pictures of animals and travel.</p>
          </div>
          <a class="button-down glyph fa-angle-down" href=""></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
    </ul>
  </div>
  <!--  //SLIDER  -->
  <!--  //HOME PAGE  -->

  <!--  PORTFOLIO  -->
  <div class="portfolio masonry main-block">
    <div class="scroller">
      <!--  FILTER  -->
      <div class="filter">
        <a class="active" href="">all</a>
        <a href="">girls</a>
        <a href="">fashion</a>
        <a href="">animals</a>
        <a href="">cars</a>
        <a href="">sport</a>
        <a href="">landspace</a>
      </div>
      <!--  //FILTER  -->
      <div id="masonry" class="masonry-wrapper">
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/1.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="sport">
          <img src="assets/images/masonry/sport/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL sport FOTO</span>
            <span class="class">sport</span>
          </div>
        </div>
        <div class="item" data-class="fashion">
          <img src="assets/images/masonry/fashion/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/2.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/4.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="cars">
          <img src="assets/images/masonry/cars/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL cars FOTO</span>
            <span class="class">cars</span>
          </div>
        </div>
        <div class="item" data-class="animals">
          <img src="assets/images/masonry/animals/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL animals FOTO</span>
            <span class="class">animals</span>
          </div>
        </div>
        <div class="item" data-class="landspace">
          <img src="assets/images/masonry/landspace/3.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL landspace FOTO</span>
            <span class="class">landspace</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/5.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
        <div class="item" data-class="girls">
          <img src="assets/images/masonry/girls/6.jpg" alt="">
          <span><em></em></span>
          <div>
            <span class="title">BEAUTIFUL girls FOTO</span>
            <span class="class">girls</span>
          </div>
        </div>
      </div>
    </div>
    <div class="scroller__track">
      <div class="scroller__bar"></div>
    </div>
  </div>
  <!--  //PORTFOLIO  -->

  <!--  PORTFOLIO DETAILS  -->
  <div class="portfolio-details">
    <!--  SLIDER  -->
    <div class="portfolio-image flexslider">
      <ul class="slides">
        <li class="images-bg">
          <!--  SLIDER IMAGE  -->
          <img src="assets/images/big-images/img1.jpg" alt="">
          <!--  //SLIDER IMAGE  -->
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </li>
        <li class="images-bg">
          <!--  SLIDER IMAGE  -->
          <img src="assets/images/big-images/img2.jpg" alt="">
          <!--  //SLIDER IMAGE  -->
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </li>
        <li class="images-bg">
          <!--  SLIDER IMAGE  -->
          <img src="assets/images/big-images/img3.jpg" alt="">
          <!--  //SLIDER IMAGE  -->
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </li>
        <li class="images-bg">
          <!--  SLIDER IMAGE  -->
          <img src="assets/images/big-images/img4.jpg" alt="">
          <!--  //SLIDER IMAGE  -->
          <div>
            <span class="title">BEAUTIFUL fashion FOTO</span>
            <span class="class">fashion</span>
          </div>
        </li>
      </ul>
    </div>
    <!--  //SLIDER  -->

    <!--  PORTFOLIO DETAILS NAVIGATION  -->
    <div class="portfolio-navi">
      <a class="details-close glyph fa-plus" href=""></a>
    </div>
    <!--  //PORTFOLIO DETAILS NAVIGATION  -->
  </div>
  <!--  //PORTFOLIO DETAILS  -->
</div>
<!--  //RIGHT CONTENT  -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaXCxqnCwD2cQ4RE_WuFfW0ECKkYBelhU&sensor=true"></script>
