<!--  LEFT MENU  -->
<div class="left-menu">
  <!--  LOGO  -->
  <a class="logo" routerLink="home">
    inihil ph<em class="glyph fa-bullseye"></em>tography
  </a>
  <!--  //LOGO  -->

  <!--  NAVIGATION  -->
  <nav class="main-navi">
    <ul>
      <li>
        <a [routerLink]="['/home']" routerLinkActive="active">
          Home
          <span class="dot"></span>
          <span class="corner"></span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/portfolio']" routerLinkActive="active">
          portrolio
          <span class="dot"></span>
          <span class="corner"></span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/about']" routerLinkActive="active">
          About
          <span class="dot"></span>
          <span class="corner"></span>
        </a>

      </li>
      <li>
        <a [routerLink]="['/services']" routerLinkActive="active">
          services
          <span class="dot"></span>
          <span class="corner"></span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/blog']" routerLinkActive="active">
        Blog
        <span class="dot"></span>
        <span class="corner"></span>
      </a>
      </li>
      <li>
        <a [routerLink]="['/contact']" routerLinkActive="active">
          contacts
          <span class="dot"></span>
          <span class="corner"></span>
        </a>
      </li>
    </ul>
    <em id="showHideMenu" class="show-hide-menu glyph fa-bars" href=""></em>
  </nav>
  <!--  //NAVIGATION  -->

  <!--  TWITTER  -->
  <div class="twitter-block flexslider">
    <span class="glyph fa-twitter"></span>
    <ul class="slides">
      <li>
        <div class="name">@sabrinadpeters</div>
        <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
        <strong>ABOUT 2 HOURS AGO</strong>
      </li>
      <li>
        <div class="name">@sabrinadpeters</div>
        <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
        <strong>ABOUT 2 HOURS AGO</strong>
      </li>
      <li>
        <div class="name">@sabrinadpeters</div>
        <p class="mini">Nunc placerat mi id nisi interdum mollis. Praesent pharetra, justo ut scelerisque mattis, leo quam aliquet diam, congue laoreet elit metus eget diam.</p>
        <strong>ABOUT 2 HOURS AGO</strong>
      </li>
    </ul>
  </div>
  <!--  //TWITTER  -->

  <!--  SOCIAL ICONS  -->
  <div class="soc-icons">
    <a class="glyph fa-twitter" href=""></a>
    <a class="glyph fa-facebook" href=""></a>
    <a class="glyph fa-google-plus" href=""></a>
    <a class="glyph fa-linkedin" href=""></a>
    <a class="glyph fa-dribbble" href=""></a>
    <a class="glyph fa-pinterest" href=""></a>
  </div>
  <!--  //SOCIAL ICONS  -->
  <p class="copy">
    Copyright © 2014, All Rights Reserved
  </p>
</div>
<!--  //LEFT MENU  -->
