<!--  RIGHT CONTENT  -->
<div class="right-content">
  <!--  HOME PAGE  -->
  <!--  SLIDER  -->
  <div class="flexslider home-page">
    <ul class="slides">
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img4.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title left">
            <span>
              Welcome <strong>to</strong> </span>
            <span>
              <strong>Inihil</strong>Photography</span>
            <p>Professional Fashion / Wedding / Event photography service.</p>
          </div>
          <a class="button-down glyph fa-angle-down" [routerLink]="['/portfolio']" routerLinkActive="active"></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img1.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title top">
            <span>
              Welcome <strong>to</strong> </span>
            <span>
              <strong>Inihil</strong>Photography</span>
            <p>Professional Fashion / Wedding / Event photography service.</p>
          </div>
          <a class="button-down glyph fa-angle-down" [routerLink]="['/portfolio']" routerLinkActive="active"></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
      <li class="images-bg">
        <!--  SLIDER IMAGE  -->
        <img src="assets/images/big-images/img3.jpg" alt="">
        <!--  //SLIDER IMAGE  -->

        <!--  CIRCLE  -->
        <div class="circle">
          <div class="home-title zoom">
            <span>
              Welcome <strong>to</strong> </span>
            <span>
              <strong>Inihil</strong>Photography</span>
            <p>Professional Fashion / Wedding / Event photography service.</p>
          </div>
          <a class="button-down glyph fa-angle-down" [routerLink]="['/portfolio']" routerLinkActive="active"></a>
        </div>
        <!--  //CIRCLE  -->
      </li>
    </ul>
  </div>
  <!--  //SLIDER  -->
  <!--  //HOME PAGE  -->
</div>
<!--  //RIGHT CONTENT  -->
